body {
  color:black;
  font-family: sans-serif;
  font-size:16px;
  background: #eeeeee;
}

div#navigation {
  border-right: solid 2px black;
  width: 8em;
  height: 100%;
  position: fixed;
  top:0;
  left: 0;
  float: left;
  background-color: #acc6aa;
}

div#navigation-internal {
  top: 2em;
  padding: 1em;
}

div#navigation a {
  display: block;
  text-align: right;
  color: #111;
}

div#content {
  padding: 0 0 0 0;
  margin-left: 8em;
  margin-bottom: 30px;
}

div#content-container {
  margin-top: 2em;
  padding: 0 0 0 0;
}

div#footer { 
  border-top: solid 2px black;
  color: #555;
  font-size: 12px;
  margin-top: 30px;
  padding: 12px 0px 12px 0px;
  text-align: right;
  width: 100%;
  bottom: 0;
  right: 0;
  position: fixed;
  background-color: #71a0a5;
}

div#footer-text {
  right: 3em;
  position: relative;
}

h1 {
  font-size:24px
}

h2 {
  font-size:20px
}

a {
  text-decoration: none;
}
